* {
  margin: auto 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: rgba(168, 125, 253, 0.438);
  color: white;
  text-shadow: 1px 1px black;
  height: 33px;
  line-height: 33px;
  text-align: center;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
  place-items: center;
  margin-bottom: 10px;
}

nav > button {
  margin-right: 3px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font: 4px sans-serif;
  font-weight: 500;
  padding: 4px 13px;
}

nav > button:hover {
  background-color: rgba(101, 24, 255, 0.685);
  color: white;
  font-weight: 600;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.422);
  cursor: pointer;
}

main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgb(246, 249, 252);
}

left-section,
right-section {
  width: 50%;
  height: 350px;
  margin-left: 40px;
}

ul {
  padding-top: 10px;
  margin-left: -25px;
}

li {
  font-size: 2px;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.trash_icon {
  width: 13px;
  float: right;
}

ul > hr {
  width: 90%;
  border-top: 1px dashed;
  border-bottom: 0px;
}

.line {
  border-left: 1px dotted gray;
  height: 400px;
}

.add {
  position: absolute;
  bottom: 30px;
}

left-section > .add {
  right: 55%;
}

right-section > .add {
  right: 5%;
}

.add_icon {
  width: 10px;
}

.add > button {
  margin-left: 2px;
  background-color: rgba(255, 212, 41, 0.318);
  border: 1px;
  border-radius: 3px;
  padding: 2px 5px;
  border-style: solid;
}

.add > button:hover {
  cursor: pointer;
  background-color: wheat;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(57, 57, 57);
  color: rgba(255, 255, 255, 0.61);
  text-align: right;
  font: 5px sans-serif;
}
